.not-found {
  .text {
    height: calc(100vh - 318px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    @media (max-width: 991px) {
      height: calc(100vh - 156px);
    }

    h1 {
      font-size: 100px;
      color: var(--black);
    }

    h2 {
      font-size: 42px;
      margin-bottom: 30px;
      color: var(--black);
      @media (max-width: 991px) {
        font-size: 32px;
      }
    }

    a {
      border-radius: 8px;
      border: 1px solid var(--black);
      width: 260px;
      height: 39px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 0 auto 0 auto;
      color: var(--black);
      font-weight: 500;
      transition: all ease 0.3s;
      text-decoration: none;

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }
}
