.home-stats {
    &__holder {
        display: flex;
        flex-direction: row;
        gap: 24px;
        padding: 48px 0;

        &--item {
            display: flex;
            flex-direction: column;
            gap: 4px;

            span {
                font-family: "Faro-Display" !important;
                font-weight: 900;
                font-size: 40px;
                line-height: 120%;
                text-align: center;
                vertical-align: middle;
            }

            p {
                margin: 0;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .home-stats {
        &__holder {
            flex-wrap: wrap;
            justify-content: center;

            &--item {
                width: 48%;
            }
        }
    }
}

@media (max-width: 500px) {
    .home-stats {
        &__holder {
            &--item {
                width: 100%;

                span {
                    font-size: 32px;
                }
            }
        }
    }
}
