.programmes-inside {
    &__holder {
        &--titles {
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            margin-bottom: 48px;

            p {
                margin: 0;
                font-weight: 700;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
        gap: 2%;
        padding: 20px 0 100px 0;
    }

    &__card {
        background: var(--bg-grey);
        padding: 34px 24px;
        border-radius: 24px;

        .title-two {
            font-weight: 700;
        }

        p {
            opacity: 0.8;
            margin: 4px 0 0 0;
        }
    }

    &__icon {
        width: 34px;
        height: 34px;
        margin-bottom: 16px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__card-title {
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    &__card-desc {
        font-size: 0.875rem;
        color: #4b5563;
    }
}

@media (max-width: 1440px) {
    .programmes-inside {
        &__card {
            padding: 17px 12px;
        }
    }
}
@media (max-width: 1200px) {
    .programmes-inside {
        &__grid {
            grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
            padding: 20px 0 50px;
            gap: 4% 2%;
        }
    }
}
@media (max-width: 1024px) {
    .programmes-inside {
        &__grid {
            grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
        }
    }

    .programmes-template-default .background-element-three {
        left: 10px;
    }
}
@media (max-width: 768px) {
    .programmes-inside {
        &__grid {
            grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
        }
    }

    .programmes-template-default .background-element-three {
        top: -95px;
    }
}
@media (max-width: 500px) {
    .programmes-inside {
        &__grid {
            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
            gap: 20px;
        }
    }

    .programmes-template-default {
        .programmes-slider-section {
            padding: 36px 0;
        }
    }

    .programmes-template-default .background-element-three {
        top: -120px;
    }
}
